{% assign all_author = "" | split: "" %}
{% assign all_link = "" | split: "" %}
{% assign all_affiliation = "" | split: "" %}
{% assign has_equal = false %}
{% assign has_corr = false %}
{% assign author_list = include.authors | replace: '*', '' | replace: '@', '' | replace: ' ', '' | split: ',' %}
{% assign aff_mode = page.aff_mode | default: "full" %}
{% assign aff_key = nil %}

{% if aff_mode == "full" %}
{% assign aff_key = "affiliations" %}
{% elsif aff_mode == "simple" %}
{% assign aff_key = "simple_aff" %}
{% elsif aff_mode == "hide" %}
{% assign aff_key = "affiliations" %}
{% endif %}

{% for i_author in author_list %}
{% for author in site.authors %}
{% if author.index_name == i_author %}
{% assign current_author = author.name %}
{% assign equal_contrib = author.index_name | append: "*" %}
{% if include.authors contains equal_contrib %}
{% assign current_author = current_author | append: "<sup>*</sup>" %}
{% assign has_equal = true %}
{% endif %}
{% assign corr_author = author.index_name | append: "@" %}
{% if include.authors contains corr_author %}
{% assign current_author = current_author | append: "<sup>&#9993;</sup>" %}
{% assign has_corr = true %}
{% endif %}
{% assign all_link = all_link | push: author.link %}
{% for aff in author[aff_key] %}
{% if forloop.first %}
{% assign current_author = current_author | append: "<sup>" %}
    {% endif %}
    {% if all_affiliation contains aff %}
    {% for recorded_aff in all_affiliation %}
    {% if recorded_aff == aff %}
    {% assign current_author = current_author | append: forloop.index %}
    {% endif %}
    {% endfor %}
    {% else %}
    {% assign all_affiliation = all_affiliation | push: aff %}
    {% assign current_author = current_author | append: all_affiliation.size %}
    {% endif %}
    {% if forloop.last %}
    {% assign current_author = current_author | append: "</sup>" %}
{% else %}
{% assign current_author = current_author | append: "," %}
{% endif %}
{% endfor %}
{% assign all_author = all_author | push: current_author %}
{% endif %}
{% endfor %}
{% endfor %}

<div class="is-size-5 publication-authors">
    {% for author in all_author %}
    &nbsp;&nbsp;
    <span class="author-block">
        <a href="{{ all_link[forloop.index0] }}">{{ author | markdownify }}</a>
    </span>
    {% endfor %}
</div>

{% unless aff_mode == "hide" %}
    <div class="is-size-5 publication-authors">
    {% for aff in all_affiliation %}
        {% assign local_aff = "<sup>" | append: forloop.index | append: "</sup> " | append: aff %}
        <span class="author-block">{{ local_aff | markdownify }}</span>
    {% endfor %}
    </div>
{% endunless %}

{% if has_equal or has_corr %}
<div class="is-size-5 publication-authors">
{% endif %}
{% if has_equal %}
<span class="author-block">
    <sup>*</sup> equal contribution
</span>
{% endif %}
&nbsp;&nbsp;
{% if has_corr %}
<span class="author-block">
    <sup>&#9993;</sup> corresponding author
</span>
{% endif %}
{% if has_equal or has_corr %}
</div>
{% endif %}

