<!--<span class="link-block">-->
<!--<a href="{{ include.accept.link }}"-->
<!--   class="external-link button is-normal is-rounded is-dark">-->
<!--  <span class="icon">-->
<!--      <i class="fas fa-file-pdf"></i>-->
<!--  </span>-->
<!--  <span>Paper</span>-->
<!--</a>-->
<!--</span>-->
<!--<a href="{{ include.accept.link }}"><img src="https://img.shields.io/badge/-{{ include.accept.name }}-%23{{ cfg.accept }}?style=for-the-badge&logo={{ cfg.logo }}&labelColor=555" alt="source" style="max-width: 100%;"></a>-->
{% for link in include.links %}
&nbsp;&nbsp;&nbsp;
{% assign link_meta = link[0] | split: '@' %}
{% assign link_attr = link_meta.first %}
{% assign link_name = link_meta.last %}
{% assign link_key = link_name | downcase %}
{% assign cfg = site.data.shields[link_key] %}
{% if cfg == nil %}
{% assign cfg = site.data.shields.default %}
{% assign cfg.name = link_meta[1] %}
{% endif %}
{% assign logo = cfg.logo %}
<!--{{ logo }}-->
<a href="{{ link[1] }}"><img src="https://img.shields.io/badge/-{{ link_attr }}-%23{{ cfg.color }}?style=for-the-badge&logo={{ logo }}&labelColor=555" alt="{{ cfg.name }}" style="max-width: 100%;"></a>
{% endfor %}