<center>
<a href="{{ include.accept.link }}"><img src="https://img.shields.io/badge/-{{ include.accept.name }}-%23F68D2E?style=for-the-badge" alt="source" style="max-width: 100%;"></a>
{% for link in include.links %}
  &nbsp;&nbsp;
  {% case link[0] %}
  {% when "arXiv" %}
    <a href="{{ link[1] }}"><img src="https://img.shields.io/badge/-arXiv-%23B31B1B?style=for-the-badge" alt="arXiv" style="max-width: 100%;"></a>
  {% when "code" %}
    <a href="{{ link[1] }}"><img src="https://img.shields.io/badge/-github-%23181717?style=for-the-badge" alt="code" style="max-width: 100%;"></a>
  {% else %}
    [<a href="{{ link[1] }}">{{ link[0] }}</a>]
  {% endcase %}
{% endfor %}
</center>