<footer class="footer">
    <div class="container">
<!--        <div class="content has-text-centered">-->
<!--            <a class="icon-link"-->
<!--               href="./static/videos/nerfies_paper.pdf">-->
<!--                <i class="fas fa-file-pdf"></i>-->
<!--            </a>-->
<!--            <a class="icon-link" href="https://github.com/keunhong" class="external-link" disabled>-->
<!--                <i class="fab fa-github"></i>-->
<!--            </a>-->
<!--        </div>-->
        <div class="columns is-centered">
            <div class="column is-8">
                <div class="content has-text-centered">
                    <p loc="c">
                        Modified from <a href="https://github.com/nerfies/nerfies.github.io">
                        Nerfies website</a> under <a
                            rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                        CC BY-SA 4.0</a> license.
                        Source code available <a
                            rel="license" href="https://github.com/KiwiXR/kiwixr.github.io">
                        here</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>