---
layout: default
hide_default_title: false
hide_default_authors: false
hide_default_links: false
---
<div id="nerfies">
    <nav-bar
            home-link="https://keunhong.com"
            :dropdown-items="[
                { link: 'https://hypernerf.github.io', text: 'HyperNeRF' },
                { link: 'https://nerfies.github.io', text: 'Nerfies' },
                { link: 'https://latentfusion.github.io', text: 'LatentFusion' },
                { link: 'https://photoshape.github.io', text: 'PhotoShape' }
            ]"
    ></nav-bar>
    {{ content }}

    {% unless page.hide_default_authors %}
    {% include author-list.html authors=page.authors aff_mode=page.aff_mode %}
    <hr>
    {% endunless %}
</div>