<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include webpack-scripts.html %}
    <title>Example Title</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>

<div id="nerfies">
    <nav-bar
            home-link="https://keunhong.com"
            :dropdown-items="[
                { link: 'https://hypernerf.github.io', text: 'HyperNeRF' },
                { link: 'https://nerfies.github.io', text: 'Nerfies' },
                { link: 'https://latentfusion.github.io', text: 'LatentFusion' },
                { link: 'https://photoshape.github.io', text: 'PhotoShape' }
            ]"
    ></nav-bar>
    {{ content }}
</div>

<!--<div id="app1">-->
<!--    {{ content }}-->
<!--</div>-->
<!--<div id="app2">-->
<!--    {{ content }}-->
<!--</div>-->

</body>
</html>